
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Coustard', serif; 
}
/*google font family is above*/

body {
    height: 100vh;
    background-color: gray;
}

.results {
    border: 3px solid black;
    width: fit-content;
    padding: 0px 35px 25px 15px;
    margin:auto;
}

.resultTitle {
    font-weight: bold;
    font-size: large;
}